<!-- posts/templates/posts/post_detail.html -->
{% extends "posts/base.html" %}

{% block content %}
<div class="container-fluid">
  <div class="row">
    <!-- Cột trái -->
    <div class="col-lg-7 offset-lg-1 col-md-10 offset-md-1">
      {% include 'posts/_single_post.html' %}
    </div>

    <!-- Cột phải -->
    <div class="col-lg-4 d-none d-lg-block">
      <div class="right-sidebar">
        {% if user.is_authenticated %}
          {% include 'posts/_right_sidebar.html' %}
        {% endif %}
      </div>
    </div>
    
  </div>
</div>
{% endblock content %}